.button {
  position: relative;
  width: 120px;
  height: 40px;
  background-color: #000;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  margin: auto;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 128px;
  height: 48px;
  border-radius: 10px;
  background: #585858;
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: #585858;
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.button:hover::after {
  filter: blur(30px);
}

.button:hover::before {
  transform: rotate(-180deg);
}

.button:active::before {
  scale: 0.7;
}

.botao {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  position: relative;
}

.botao::after {
  content: 'like';
  width: fit-content;
  height: fit-content;
  position: absolute;
  font-size: 15px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  opacity: 0;
  visibility: hidden;
  transition: .2s linear;
  top: 115%;
}

.icon {
  width: 30px;
  height: 30px;
  transition: .2s linear;
}

.icon path {
  fill: white;
  transition: .2s linear;
}

.botao:hover > .icon {
  transform: scale(1.2);
}

.botao:hover > .icon path {
  fill: rgb(177, 139, 189);
}

.botao:hover::after {
  visibility: visible;
  opacity: 1;
  top: 105%;
}

/* CSS for individual comments */
/*.comment {
    background-color: #f0f0f0; !* Example background color *!
    padding: 10px; !* Add padding *!
    border-radius: 5px; !* Add border radius for rounded corners *!
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); !* Add box shadow for depth *!
}*/
.comment {
    font-size: 16px; /* default font size */
    color: #333; /* default text color */
    text-decoration: none; /* remove underline */
    transition: color 0.3s ease; /* smooth color transition on hover */
}
.comment:hover {
  color: #666;
}