<!DOCTYPE html>
<html lang="pt">
<head>
    {% extends "palavrao/login.html" %}
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>

<body>

{% block menu %}
    <nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left"
         style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
        <a href="javascript:void(0)" onclick="w3_close()"
           class="w3-bar-item w3-button">Close Menu</a>
        {% if verificar %}
            <a href="{% url 'palavrao:dados_pessoais' %}"
               class="w3-bar-item w3-button">Dados Pessoais</a>
            <a href="{% url 'palavrao:comentarios' %}"
               class="w3-bar-item w3-button">Comentarios</a>
        {% endif %}
        <a href="{% url 'palavrao:logoutview' %}"
           class="w3-bar-item w3-button">Logout</a>
    </nav>
    <div class="w3-top">
        <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
            <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">☰</div>
        </div>
    </div>
{% endblock %}

{% block content %}

    {% if not verificar %}
        <img src="{% static 'media/anonimo.png' %}" id="anonimo" width="150" height="150" alt="Imagem de perfil"
             style="position: absolute; top: 10px; right: 10px;">
    {% elif imagem %}
        <img src="{% static 'media/' %}{{ request.user.id }}.jpg" id="pfp" width="150" height="150"
             alt="Imagem de perfil" style="position: absolute; top: 10px; right: 10px;">
    {% else %}
        <img src="{% static 'media/default.png' %}" id="default" width="150" height="150" alt="Imagem de perfil"
             style="position: absolute; top: 10px; right: 10px;">
    {% endif %}

    <main>
        <section class="board-game">
            <div class="row row-1">
                <div class="letter letter-1"></div>
                <div class="letter letter-2"></div>
                <div class="letter letter-3"></div>
                <div class="letter letter-4"></div>
                <div class="letter letter-5"></div>
            </div>
            <div class="row row-2">
                <div class="letter letter-1"></div>
                <div class="letter letter-2"></div>
                <div class="letter letter-3"></div>
                <div class="letter letter-4"></div>
                <div class="letter letter-5"></div>
            </div>
            <div class="row row-3">
                <div class="letter letter-1"></div>
                <div class="letter letter-2"></div>
                <div class="letter letter-3"></div>
                <div class="letter letter-4"></div>
                <div class="letter letter-5"></div>
            </div>
            <div class="row row-4">
                <div class="letter letter-1"></div>
                <div class="letter letter-2"></div>
                <div class="letter letter-3"></div>
                <div class="letter letter-4"></div>
                <div class="letter letter-5"></div>
            </div>
            <div class="row row-5">
                <div class="letter letter-1"></div>
                <div class="letter letter-2"></div>
                <div class="letter letter-3"></div>
                <div class="letter letter-4"></div>
                <div class="letter letter-5"></div>
            </div>
            <div class="row row-6">
                <div class="letter letter-1"></div>
                <div class="letter letter-2"></div>
                <div class="letter letter-3"></div>
                <div class="letter letter-4"></div>
                <div class="letter letter-5"></div>
            </div>
        </section>
        <section class="keyboard">
            <div class="row row-1">
                <button type="button" class="letter letter-q" value="q">Q</button>
                <button type="button" class="letter letter-w" value="w">W</button>
                <button type="button" class="letter letter-e" value="e">E</button>
                <button type="button" class="letter letter-r" value="r">R</button>
                <button type="button" class="letter letter-t" value="t">T</button>
                <button type="button" class="letter letter-y" value="y">Y</button>
                <button type="button" class="letter letter-u" value="u">U</button>
                <button type="button" class="letter letter-i" value="i">I</button>
                <button type="button" class="letter letter-o" value="o">O</button>
                <button type="button" class="letter letter-p" value="p">P</button>
            </div>

            <div class="row row-2">
                <button type="button" class="letter letter-a" value="a">A</button>
                <button type="button" class="letter letter-s" value="s">S</button>
                <button type="button" class="letter letter-d" value="d">D</button>
                <button type="button" class="letter letter-f" value="f">F</button>
                <button type="button" class="letter letter-g" value="g">G</button>
                <button type="button" class="letter letter-h" value="h">H</button>
                <button type="button" class="letter letter-j" value="j">J</button>
                <button type="button" class="letter letter-k" value="k">K</button>
                <button type="button" class="letter letter-l" value="l">L</button>
            </div>

            <div class="row row-3">
                <button type="button" class="action enter">ENTER</button>
                <button type="button" class="letter letter-z" value="z">Z</button>
                <button type="button" class="letter letter-x" value="x">X</button>
                <button type="button" class="letter letter-c" value="c">C</button>
                <button type="button" class="letter letter-v" value="v">V</button>
                <button type="button" class="letter letter-b" value="b">B</button>
                <button type="button" class="letter letter-n" value="n">N</button>
                <button type="button" class="letter letter-m" value="m">M</button>
                <button type="button" class="action erase">
                </button>
            </div>
        </section>
        <section class="play-again">
            <button type="button" class="btn-play-again">JOGAR NOVAMENTE</button>
        </section>
    </main>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="{% static 'script.js' %}"></script>

{% endblock %}


</body>
</html>